<!DOCTYPE html>
<style>
    a {
        color: #666;
        text-decoration: none;
        background: url(underline.gif) repeat-x left bottom;
    }

    body {
        TEXT-ALIGN: center;
    }

    #center {
        MARGIN-RIGHT: auto;
        MARGIN-LEFT: auto;
        height: 20px;
        width: 400px;
        vertical-align: middle;
        line-height: 30px;
    }
</style>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高鹏的网站</title>
<body>
<div id="center">
    <a target="_blank" href="http://www.woailjw.com/getBeanHtml">生成BEAN模板工具</a> <br>
</div>
</body>


</head>
<body>

</body>
</html>