<!DOCTYPE html>
<style>
    a {
        color: #666;
        text-decoration: none;
        background: url(underline.gif) repeat-x left bottom;
    }

    body {
        TEXT-ALIGN: center;
    }

    #center {
        MARGIN-RIGHT: auto;
        MARGIN-LEFT: auto;
        height: 20px;
        width: 400px;
        vertical-align: middle;
        line-height: 30px;
    }
</style>
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css"/>
    <meta charset="UTF-8">
    <title>高鹏的网站</title>
<body>

<div class="grid"></div>
<span class="animate" id="beginDH" name="beginDH" style="display: none">开始动画</span>

<script src='/static/js/jquery.js'></script>
<script src='/static/js/jquery.easing.min.js'></script>

<script src="/static/js/index.js"></script>
<script>
    $("#beginDH").trigger("click");
</script>
<div style="text-align:center;clear:both;margin-top:30px">
    <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
    <script src="/follow.js" type="text/javascript"></script>
</div>

<div id="center">
    <a target="_blank" href="http://www.woailjw.com/getBeanHtml">生成BEAN模板工具</a> <br>
    <a target="_blank" href="http://www.woailjw.com/upload">上传EXCEL及通过PANDAS解析</a> <br>
    <a target="_blank" href="http://www.woailjw.com/transString">格式化字符串工具</a> <br>
</div>
</body>


</head>
<body>

</body>
</html>